#header{
    color:transparent;
    transition: all 10s;
    background: linear-gradient(to right, grey, blue, midnightblue, black);
    background-size: 300%;
    background-clip:text;
    animation: magic 1s linear infinite;
    font-size: 300%;
}
@keyframes magic{
    0%{ background-position:0%}
    100%{ background-position:100%}

} 
#opener{
    color: dimgrey; padding: 1em 2em;
    border: 1px solid dimgray;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
     background-color: navy;
    box-shadow: 5px 5px grey,
    10px 10px dimgrey,
    15px 15px midnightblue;
} 
body {
    background-color: dimgrey;
}
#par{
    color: black;
    color: dimgrey; padding: 1em 2em;
    border: 1px solid dimgray;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
     background-color: navy;
    box-shadow: 5px 5px grey,
    10px 10px dimgrey,
    15px 15px midnightblue;
}
#crest{
    max-width: 100px;
    position: sticky;
    top: 20px;
}