#header{
    background-color:maroon;
    font-size: 5pc;
    font-weight: 1000;
    color:transparent;
    transition: all 1s;
    background: linear-gradient(to right,blue,red,green,red,blue);
    background-size: 300%;
    background-clip:text;
    animation: magic 10s linear infinite;

}
@keyframes magic{
    0%{ background-position:0%}
    100%{ background-position:100%}
}
iframe{
    background-color: black;
    color: maroon;
}
body{
background-color: black;
color: maroon;
}
#sp{
    font-size: 3pc
}
#opening{
    font-size: 1.5pc;
    /* transition: all 10s;
    transform: all 100s;
    transform: scale(0.85) rotate(0);
    opacity: 0.85; ; */
    padding: 1em 2em;
    border: 1px solid dimgray;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
     background-color:black;
    box-shadow: 5px 5px black,
    10px 10px maroon,
    15px 15px midnightblue;
    
}

#body{
    font-size: 1.5pc;
    /* transition: all 10s;
    transform: all 100s;
    transform: scale(0.85) rotate(0);
    opacity: 0.85; ; */
    padding: 1em 2em;
    border: 1px solid dimgrey;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
     background-color: black;
    box-shadow: 5px 5px black,
    10px 10px  maroon,
    15px 15px midnightblue ;
}


